@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.6px;
}

:root {
    --backgroundpri: #7EA1FF;
    --backgroundsec: #03346E;
    --text: #EEEEEE;
}

.navcolor{
    background-color: #1a5fb3 !important;
}

#section1 {
    background-image: url("/images/bgpic.jpg");
    background-size: cover;
    border-bottom: 0.4px solid rgb(169, 169, 169);
}

.bgimg{
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--text);
}

#section2{
    background-color: var(--backgroundsec);
    color: var(--text);
    border-bottom: 0.4px solid rgb(169, 169, 169);
}

#section3{
    background-color: var(--backgroundsec);
    border-bottom: 0.4px solid rgb(169, 169, 169);
}

.c1{
    border-radius: 50% !important;
    background-color: var(--backgroundsec);
    /* background-color: var(--backgroundsec); */
}

#section4{
    background-color: var(--backgroundsec);
    color: var(--text);
    border-bottom: 0.4px solid rgb(169, 169, 169);
}

#section5{
    background-color: rgb(100, 133, 161) !important;
    color: white;
}

.c2{
    background-color: #0971b63f;
    color: white;
}

.c2:hover {
    background-color: #0971b68a;
}